version: '3.8'

services:
  apnea-api:
    image: {{ ecr_image }}
    restart: unless-stopped
    ports:
      - "8000:8000"
      - "8501:8501"
    volumes:
      - /opt/apnea/weights/penta_lstm_OSA_weights.pth:/app/penta_lstm_OSA_weights.pth
      - /opt/apnea/weights/penta_lstm_CA_weights.pth:/app/penta_lstm_CA_weights.pth

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  node-exporter:
    image: prom/node-exporter:latest
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin